<table class="table">
  <tr>
    <td> <h1> Producto </h1></td>
    <td><h1> Precio </h1></td>
  </tr>
  <% @raffles.each do |raffle| %>
  <tr>
    <td>
     <%= image_tag (raffle.product.photo.url).thumb %>
     <h4><%= raffle.product.name %></h4>
    </td>
    <td> <h4><%= raffle.product.price %></h4> </td>
    <td class="btn btn-danger">
      <%= link_to 'Eliminar', raffle_path(raffle), method: :delete %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td> <h4>Total: </h4></td>
    <td> <h4> <%= @raffles.map {|raffle| raffle.product.price}.sum %></h4></td>
    <td class="btn btn-success"> <%= link_to 'Pagar'%> </td>
<!-- Agregar ruta para botón pagar. Incluir Paypal -->
  </tr>
</table>
