
  <div class="row">
    <% @products.each_slice(4) do |row| %>
      <% row.each do |product| %>
        <div class="col-md-3">
            <div class="card">
              <%= image_tag product.photo.url, class: 'card-img-top' %>
              <div class="body">
                <h3>  <%= product.name %> </h3>
                <h5> Raffle Price:  <%= product.price %> </h5>
              </div>
               <%= link_to 'Buy', product_raffles_path(product), class: 'btn btn-success', method: :post %>
               <% if current_user %>
                 <% if can?(:delete, :update, product) %>
                   <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning' %>
                   <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                 <% end %>
               <% end %>
           </div>
        </div>
      <% end %>
      <div class="w-100"></div>
    <% end %>
  </div>
